/* Declaration Order
   1) Positioning
   2) Box-Model
   3) Typographic
   4) Visual */

/* Utility */

html, body {
  height: 100%;
}

main {
  height: 100%;
}

body {
  background-color: gainsboro;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 97%;
  height: 100%;
  margin: 0 auto;
}

span.logo-text {
  color: white;
  font-weight: 900;
  font-family: 'Fascinate', cursive;
}

span.red {
  color: red;
}

/* Nav */

div.full-nav {
  flex: 1 0 auto;
}

nav#main-nav {
  height: 2em;
  background-color: black;
  font-size: .9em;
}

nav#sub-nav {
  height: 3em;
  background-color: white;
  font-size: 1.1em;
}

nav#main-nav a:hover {
  color: white;
}

nav#sub-nav a:hover {
  color: black;
}

nav a {
  text-decoration: none;
  color: grey;
  margin-right: .5em;
}

nav#main-nav nav.primary a:first-child {
  color: white;
}

nav a:last-child {
  margin-right: 0;
}

div.logo {
  display: none;
}

nav#mobile-nav {
  display: none;
}

/* Main Content */

main {
  width: 99%;
  margin: 0 auto;
  flex: 1 0 auto;
}

section.highlights {
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  width: 100%;
  max-height: 30em;
  margin-top: .5em;
}

article.a {
  height: 30em;
  width: 70%;
  margin-right: .3em;
  background-color: blue;
}

article.b {
  height: 15em;
  width: 30%;
  margin-bottom: .3em;
  background-color: red;
}

article.c {
  height: 14.7em;
  width: 30%;
  background-color: green;
}

section.latest {
  width: 60%;
  margin: 2em auto;
  display: flex;
  flex-wrap: wrap;
}

section.latest article {
  width: 23%;
  height: 10em;
  margin-right: 2%;
  margin-bottom: 2%;
  background-color: orange;
  border: 1px solid black;
}

div.title {
  width: 100%;
  margin-bottom: 1em;
  font-weight: 900;
  font-size: 1.8em;
  color: darkorange;
}

/* Sections */

div.sections {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  margin: 0 auto;
}

div.sections * {
  width: 33%;
  margin-bottom: 2em;
}

div.sections article {
  height: 35em;
  width: 95%;
  border: 1px solid black;
  background-color: pink;
}

/* Footer */

footer {
  margin-top: auto;
  width: 100%;
}

section.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8em;
  font-size: 20px;
  background-color: #000000;
  color: white;
}

section.site-map {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5em;
  background-color: #1A1A1A;
}

section.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8em;
  background-color: #1A1A1A;
}

footer a {
  margin-right: .5em;
  text-decoration: none;
  color: white;
  font-size: 1.3em;
}

section.social-media i {
  padding: 1em 1em;
  background-color: #363636;
  margin-right: 1em;
  border-radius: 2em;
}

section.copyright p {
  display: inline;
}

/* Laptop */

@media screen and (max-width: 1440px) {
  section.latest, div.sections {
    width: 85%;
  }

  main {
    height: auto;
  }
}

@media screen and (max-width: 1024px) {
  section.latest, div.sections {
    width: 95%;
  }
}

/* Tablet */

@media screen and (max-width: 768px) {
  /* Main Content */

  section.latest article {
    width: 31%;
    margin-right: 2%;
    margin-bottom: 2%;
  }

  main {
    height: auto;
  }

  div.title {
    font-size: 1.5em;
  }

  div.sections * {
    width: 50%;
  }

  /* Footer */
  footer a {
    font-size: 1em;
  }

  section.copyright {
    font-size: 15px;
  }

  /* Navbar */

  nav#main-nav {
    font-size: .85em;
  }

  nav#sub-nav {
    font-size: 1em;
  }

  nav#main-nav nav.secondary a:first-child {
    display: none;
  }

  div.logo {
    display: inline;
    height: 5em;
    width: 15%;
    background: linear-gradient(to bottom right, #D13394, #FD512A);
    text-align: center;
  }

  div.full-nav {
    display: flex;
    width: 100%;
  }

  div.navigation {
    width: 100%;
  }

  span.logo-text {
    font-size: 1.3em;
    line-height: 3.5em;
  }
}

/* Mobile */

@media screen and (max-width: 425px) {
  /* Main Content */
  section.highlights {
    max-height: none;
  }

  article.a, article.b, article.c {
    width: 98%;
    height: 20em;
    margin: .3em auto;
  }

  section.latest article {
    width: 100%;
    height: 7em;
    margin-right: 2%;
    margin-bottom: 2%;
  }

  div.title {
    margin-top: 1em;
  }

  div.sections * {
    width: 100%;
  }

  /* Footer */
  footer a {
    font-size: .7em;
  }

  section.social-media {
    height: 6em;
  }

  section.site-map {
    height: 3em;
  }

  section.copyright {
    flex-flow: column;
    height: 12em;
    font-size: 12px;
  }

  section.copyright p {
    display: block;
  }

  /* Navbar */
  nav#main-nav, nav#sub-nav {
    display: none;
  }

  div.navigation {
    height: 2.5em;
    background-color: white;
  }

  div.logo {
    height: 2.5em;
    width: 30%;
  }

  span.logo-text {
    line-height: 1.8em;
    font-size: 1.5em;
  }

  nav#mobile-nav {
    display: inline;
  }

  .container {
    justify-content: flex-end;
  }

  nav a, nav a:last-child {
    margin-right: .8em;
  }

  nav a:last-child {
    color: darkorange;
  }
}

/* Mobile Small */
@media screen and (max-width: 425px) {
  /* Footer */
  footer a {
    margin-right: .05em;
  }

  section.site-map a {
    margin-right: .8em;
  }
}
